* {
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	background: url(../images/bg-body.png);
}

.container {
	max-width: 980px;
	margin: 0 auto;
}

.row::after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}


.grey {
	color: #acacac;
}